html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
}

/*Header*/

.header {
  position: fixed;
  display: block;
  z-index: 6000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  padding-top: 5px;
  border-bottom: 1px solid #979797;
  height: 50px;
}

.row.no-gutter { /*Applied to Header*/
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.logo {
  float: right;
  margin-top: 5px;
}

/*Top Navigation*/

.header ul li {
  position: relative;
  display: inline-block;
  padding-right: 10%;
  padding-top: 5px;
  margin-top: 7px;
}

.header .top-nav > li:first-child {
  padding-left: 10%;
}

.top-nav { /*Dynamic Content Nav*/
  padding-left: 0;
}

.header ul li:last-child {
  padding-right: 0;
}

.header ul li a {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-family: serif;
}

/*Dropdown*/

.dropdown {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dropdown-menu {
  display: none;
  top: 37px;
  left: -20px;
  width: 180px;
  border-radius: 0;
  box-shadow: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.header .dropdown-menu li a {
  font-size: 12px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:active, .dropdown-menu li a:visited {
  background: #fff;
  text-decoration: underline;
}

.dropdown-menu > .divider {
  border-top: 1px solid #979797;
  background-color: #fff;
  opacity: 0.8;
  width: 100px;
  margin-bottom: 0;
  margin-left: 20px;
}

.dropdown-menu li:last-child {
  padding-bottom: 5px;
}

/*Search*/

.search {
  padding-left: 10px;
  margin-top: 7px;
}

.form-control { /*Search Input Field*/
  margin-left: 0px;
  height: 30px;
  max-width: 320px;
  width: 100%;
  border-radius: 0;
}

/*Hamburger Menu*/

.hamburger { 
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 5px;
  color: #000;
}

.hamburger a, .hamburger a:hover  {
  color: #000;
}

.hamburger .dropdown-menu {
  left: -25px;
}

/*Profile Button*/

.profile-pic { 
  vertical-align: top;
  display: inline-block;
  margin-top: 5px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
}


.main {
 background-color: #fff ;
 padding: 40px 0;
 margin-top: 52px;
}

.main h1 {
 color: #F65A5B ;
 font-size: 64px;
 margin: 0 0 80px 0;
 padding: 20px 0;
   line-height: 60px;
   width: 50%;
}

.main h2 {
 background-color: #DDDDDD ;
 color: #999999 ;
 font-size: 20px;
 margin: 0 0 40px 0;
 padding: 20px 0;
}

/*Hero*/

.hero {
  margin-top: 50px;
  height: 440px;
  background-image: url("../images/hero.png");
  background-size: cover;
}

.hero-box { /*White Box*/
  margin-top: 180px;
  margin-left: 33%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
}

.hero p:nth-child(2) {
  text-transform: uppercase;
  font-size: 22px;
  font-family: serif;
  margin-bottom: 0;
}

.hero p:nth-child(3) {
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.read-post a { /*Read Post Button*/
  display: inline-block;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  font-family: serif;
  text-decoration: none;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid #000;
  margin-top: 20px;
}

.read-post a:hover {
  display: inline-block;
  color: #fff;
  background-color: #E05D5D;
  opacity: 0.75;
  border: none;
}

/*Masonry*/

.masonry-container{
  padding:0;
  position:relative;
  overflow:hidden;
}

.masonry-brick {
  position: relative;
  border-radius: 0;
  margin: 0 0 30px 0;
  opacity: 0;
}
.masonry-brick.loaded{
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.masonry-brick img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.brick-title{
  position:absolute;
  top:50%;
  height: 100px;
  width:75%;
  margin:-50px auto 0 auto;
  left:0;
  right:0;
  background: rgba(255,255,255,0.8);
  padding:20px;
  text-align:center;
  //enable below to have titles on hover only
  //opacity: 0;
}
.masonry-brick:hover .brick-title{
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.brick-title h5{
  font-family: serif;
  text-transform: uppercase;
  font-weight: bold;
}
.user,
.date {
 color: #444;
 margin: 0;
 font-size: 18px;
   font-weight: 800;
}

.date {
   color: #a3a3a3 ;
   font-size: 14px;
   font-weight: 200;
}

.role {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
 position: absolute;
 top: -40px;
 right: 20px;
}

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
 margin: 30px 0 -30px 20px;
}

.saves {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
 margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.saves:hover,{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.below-header{
  margin-top:70px;
}

/*Featured Article*/

.featured {
  background-image: url("../images/featured.png");
  background-size: cover;
  height: 400px;
}

.featured .box {
  margin-top: 100px;
  margin-left: 32%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
}

.featured .box p {
  margin-top: 15px;
  text-align: center;
  font-size: 23px;
  font-family: serif;
}

.top-stories-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

.top-stories img {
  width: 370px;
}

.top-stories-title {
  font-size: 23px;
  font-family: serif;
  margin-top: 10px;
  text-transform: none;
}

.top-stories-category {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.latest-news {
  margin-top: 35px;
  font-family: serif;
  font-size: 35px;
  text-align: center;
}

.latest-news > .divider {
  border-top: 1px solid #979797;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  margin-bottom: 0;
  margin-top: 35px;
}

/*Magazine Feed*/

.article-content p:nth-child(1) {
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.article-content p:nth-child(2) {
  font-size: 25px;
  font-family: serif;
}

.article-content p:nth-child(3) {
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.article-content a {
  font-family: serif;
  font-size: 12px;
  color: #000;
}

/*Profile*/

.profile-hero {
  height: 450px;
  border-bottom: 1px solid #979797;
}

.profile-hero img {
  margin-top: 170px;
  margin-left: 44%;
}

.profile-hero p {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: serif;
  font-size: 18px;
}

.profile-nav {
  margin-left: 25%;
  margin-top: 45px;
}

.profile-hero li {
  display: inline-block;
  float: left;
  margin-left: 40px;
}

.profile-hero li:first-child {
  margin-left: 0;
}

.profile-hero li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #000;
}

/*==========  Media Queries  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
