html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
}

/*Header*/

.header {
  position: fixed;
  display: block;
  z-index: 6000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  padding-top: 5px;
  border-bottom: 1px solid #979797;
  height: 50px;
}

.row.no-gutter { /*Applied to Header*/
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.row.small-gutter {
  margin-left: -5px;
  margin-right: -5px;
}

.row.small-gutter [class*='col-']:not(:first-child),
.row.small-gutter [class*='col-']:not(:last-child) {
  padding-right: 5px;
  padding-left: 5px;
}


.logo {
  float: right;
  margin-top: 5px;
}

/*Top Navigation*/

.header ul li {
  position: relative;
  display: inline-block;
  padding-right: 10%;
  padding-top: 5px;
  margin-top: 7px;
}

.header .top-nav > li:first-child {
  padding-left: 10%;
}

.top-nav { /*Dynamic Content Nav*/
  padding-left: 0;
}

.header ul li:last-child {
  padding-right: 0;
}

.header ul li a {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-family: serif;
}

.header ul li a:hover {
  text-decoration: none;
  color: rgb(170, 20, 20);
}

.header .active {
  color: rgb(170, 20, 20);
}

/*Dropdown*/

.dropdown {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dropdown-menu {
  display: none;
  top: 37px;
  left: -20px;
  width: 180px;
  border-radius: 0;
  box-shadow: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.header .dropdown-menu li a {
  font-size: 12px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:active, .dropdown-menu li a:visited {
  background: #fff;
  text-decoration: underline;
}

.dropdown-menu > .divider {
  border-top: 1px solid #979797;
  background-color: #fff;
  opacity: 0.8;
  width: 100px;
  margin-bottom: 0;
  margin-left: 20px;
}

.dropdown-menu li:last-child {
  padding-bottom: 5px;
}

/*Search*/

.search {
  padding-left: 10px;
  margin-top: 7px;
}

.form-control { /*Search Input Field*/
  margin-left: 0px;
  height: 30px;
  max-width: 320px;
  width: 100%;
  border-radius: 0;
}

/*Hamburger Menu*/

.hamburger { 
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 5px;
  color: #000;
}

.hamburger a, .hamburger a:hover  {
  color: #000;
}

.hamburger .dropdown-menu {
  left: -25px;
}

/*Profile Button*/

.profile-pic { 
  vertical-align: top;
  display: inline-block;
  margin-top: 5px;
}


.main {
 background-color: #fff ;
 padding: 40px 0;
 margin-top: 52px;
}

.main h1 {
 color: #F65A5B ;
 font-size: 64px;
 margin: 0 0 80px 0;
 padding: 20px 0;
   line-height: 60px;
   width: 50%;
}

.main h2 {
 background-color: #DDDDDD ;
 color: #999999 ;
 font-size: 20px;
 margin: 0 0 40px 0;
 padding: 20px 0;
}

/*Hero*/

.hero {
  margin-top: 50px;
  height: 440px;
  background-image: url("../images/hero.png");
  background-size: cover;
}

.hero-box { /*White Box*/
  margin-top: 180px;
  margin-left: 33%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
}

.hero p:nth-child(2) {
  text-transform: uppercase;
  font-size: 22px;
  font-family: serif;
  margin-bottom: 0;
}

.hero p:nth-child(3) {
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.read-post a { /*Read Post Button*/
  display: inline-block;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  font-family: serif;
  text-decoration: none;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid #000;
  margin-top: 20px;
}

.read-post a:hover {
  display: inline-block;
  color: #fff;
  background-color: #E05D5D;
  opacity: 0.75;
  border: none;
}

/*Masonry*/

.masonry-container{
  padding:0;
  position:relative;
  overflow:hidden;
}

.masonry-brick {
  position: relative;
  border-radius: 0;
  margin: 0 0 10px 0;
  opacity: 0;
}
.masonry-brick.loaded{
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.masonry-brick img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.brick-title{
  position:absolute;
  top:50%;
  height: 100px;
  width:75%;
  margin:-50px auto 0 auto;
  left:0;
  right:0;
  background: rgba(255,255,255,0.8);
  padding:20px;
  text-align:center;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.masonry-brick:hover .brick-title{
  opacity:0;
}
.masonry-brick .brick-overlay{
  opacity:0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  position:absolute;
  top:0;
  left:5px;
  right:5px;
  bottom:0;
  background:rgba(0,0,0,0.7);
  color:#fff
}
.masonry-brick:hover .brick-overlay{
  opacity:1;
}
.masonry-brick .brick-overlay h3{
  margin:10px 10px 50px 10px;
}
.masonry-brick .brick-overlay p{
  margin:20px;
}
.brick-overlay .buttons{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
.btn-outline{
  -webkit-appearance: none;
  background: transparent;
  font-weight: bold;
  border:1px solid #fff;
  color: #fff;
  padding: 10px 25px;
  font-size:1.2em;
  display: inline-block;
}
.btn-outline:hover{
  color:#000;
  text-decoration: none;
  background:rgba(255,255,255,0.7);
}
.brick-title h5{
  font-family: serif;
  text-transform: uppercase;
  font-weight: bold;
}
.user,
.date {
 color: #444;
 margin: 0;
 font-size: 18px;
   font-weight: 800;
}

.date {
   color: #a3a3a3 ;
   font-size: 14px;
   font-weight: 200;
}

.role {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
 position: absolute;
 top: -40px;
 right: 20px;
}

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
 margin: 30px 0 -30px 20px;
}

.saves {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
 margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.saves:hover,{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.below-header{
  margin-top:70px;
}

/*Featured Article*/

.featured {
  background-image: url("../images/brontebeach3.jpg");
  background-size: cover;
  height: 400px;
}

.featured .box {
  margin-top: 100px;
  margin-left: 32%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
}

.featured .box p {
  margin-top: 15px;
  text-align: center;
  font-size: 23px;
  font-family: serif;
}

.top-stories-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

.top-stories img {
  width: 370px;
}

.top-stories-title {
  font-size: 23px;
  font-family: serif;
  margin-top: 10px;
  text-transform: none;
}

.top-stories-category {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.latest-news {
  margin-top: 35px;
  font-family: serif;
  font-size: 35px;
  text-align: center;
}

.latest-news > .divider {
  border-top: 1px solid #979797;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  margin-bottom: 35px;
  margin-top: 35px;
}

.article-feed img {
  width: 350px;
}

.article-feed p:first-child {
  color: gray;
  font-size: 14px;
}

.article-feed p:nth-child(2) {
  font-size: 36px;
  font-family: serif;
}

.article-feed .divider {
  border-top: 1px solid #979797;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  margin-bottom: 35px;
  margin-top: 35px; 
  margin-left: 15px; 
}
/*Magazine Feed*/

.article-content p:nth-child(1) {
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.article-content p:nth-child(2) {
  font-size: 25px;
  font-family: serif;
}

.article-content p:nth-child(3) {
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.article-content a {
  font-family: serif;
  font-size: 12px;
  color: #000;
}

/*Profile*/

.profile-hero {
  background: url('../images/brontebeach3.jpg');
  height: 500px;
  background-size: cover;
  position:relative;
}
.profile-hero:after{
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:80px;
}

.profile-photo{
  width:208px;
  border: 4px solid #fff;
  margin:-175px 0 0 20px;
  float:left;
  position: absolute;
}

.profile-photo img {
  display: block;
  width: 100%;
  height:auto;
  border-bottom: 4px solid #fff;
}

.profile-photo a {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  background: #fff;
}
.profile-photo a:hover {
  text-decoration: none;
  background: #eee;
}

.beside-profile-photo{
  margin-left: 268px;
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .profile-photo{
    float:none;
    margin:-350px auto 0 auto;
    left:0;
    right:0;
  }
  .beside-profile-photo{
    margin-left:0;
  }
}

h1.profile-title{
  margin:-80px 0 30px 0;
  font-size: 28px;
  font-family: serif;
  font-weight: normal;
  line-height: 20px;
  padding-top:30px;
  min-height:80px;
  position:relative;
  overflow: hidden;
}
.profile-description{
  margin:30px 0;
}
ul.profile-nav{
  margin:30px 0;
  padding:0;
}
ul.profile-nav:after{
  content:' ';
  display: block;
  clear:left;
}
.profile-nav li {
  float: left;
  list-style-type: none;
  margin-right: 35px;
}

.profile-nav li a {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}

.my-stiler img {
  width: 100%;
  padding-right: 10px;
}

.save-list{
  background: #fff;
  position:absolute;
  bottom:20px;
  left:20px;
  width:80%;
  height:70%;
  padding:20px;
  color:#333;
  transition: visibility 0s linear 0.5s, opacity .25s ease-in-out;
  opacity:0;
  visibility: hidden;
}

.save-list.shown{
  opacity:1;
  visibility: visible;
  transition-delay:0s;
}
<<<<<<< HEAD

.save-list .close-save{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 39px;
  color: #333;
  font-weight: 100;
  text-decoration: none;
  line-height: 20px;
  cursor:pointer;
}

.save-list h4{
  margin:0 0 20px;
}
.save-list ul{
  list-style: none;
  padding:0;
  position:absolute;
  top:60px;
  left:20px;
  right:20px;
  padding-right:40px;
  bottom:40px;
  overflow: auto;
}
.save-list li:first-child{
  border-top:1px solid #333;
}
.save-list li{
  border-bottom:1px solid #333;
  line-height: 30px;
  transition: padding .15s ease-in-out;
  cursor: pointer;
}
.save-list li:hover{
  padding-left:30px;
}
.save-list li.saved{
  padding-left:30px;
  background: url(../images/tick.png) 0 50% no-repeat;
}
.save-list .bottom{
  position: absolute;
  bottom:10px;
  left:20px;
  right:20px;
}
.save-list .bottom a{
  color:#333;
  cursor: pointer;
}
.save-list .bottom input[type=text]{
  width:45%;
  padding:0 3px;
}
.save-list .bottom button{
  width:25%;
  display: inline-block;
  margin-left:3px;
}

/*Look Page*/

.lookpage-header {
  border-bottom: 1px solid #979797;
}

.lookpage-header img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lookpage-header p {
  font-size: 18px;
  font-family: serif;
  margin-top: 20px;
}

.lookpage-header p:nth-child(2) {
  font-size: 14px;
  font-family: sans-serif;
}

.lookpage-header a {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #000;
  color: #000;
}

.lookpage-content p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: lighter;
}

.lookpage-content p:first-child {
  margin-bottom: -10px;
  font-size: 38px;
  font-family: serif;
}

.lookpage-content ul {
  margin-left: -55px;
}

.lookpage-content li {
  float: left;
  list-style-type: none;
}

.lookpage-content li:nth-child(1) {
  margin-right: 20px;
}

.lookpage-content a {
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #000;
  color: #000;
  margin-bottom: 20px;
}

.lookpage-content img {
  margin-top: 15px;
  margin-left: -15px;
  width: 750px;
  height: auto;
}

.lookpage-content img:first-child {
  margin-top: 20px;
}

.shop-the-look img {
  width: 350px;
  height: auto;
}

.shop-the-look p {
  text-align: center;
  margin-left: -23px;
  margin-bottom: 15px;
}

.shop-the-look a:first-child {
  margin-left: 100px;
  margin-right: -95px;
  text-transform: uppercase;
}

/*Look Page*/

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30px auto;
  background: #fff;
  width: 80%;
  height: 90%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #111;
}
.popup .content {
  max-height: 100%;
  overflow: hidden;
}

/*Image Slider*/

.slider {
  background: #fff;
  width: 350px;
  height: 600px;
  position: relative;
  top: 10px;
  overflow: hidden;
}

.images {
  background: #fff;
  width: 100%;
  height: 74%;
  transition: background .5s linear;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  float: left;
  top: 450px;
}
input[type='radio']:checked {
  content: '';
  box-shadow: none;
  -webkit-filter: none;
}

input[type='radio']:hover{
  border: solid 5px #fff;
  -webkit-filter: none;
  transform: scale(1.05);
  z-index: 9999;
}

.slide1 {
  background: url('../images/rippedjeans1.jpg');
}

.slide2 {
  background: url('../images/rippedjeans2.jpg');
}

.slide3 {
  background: url('../images/rippedjeans3.jpg');
}

.slide4 {
  background: url('../images/rippedjeans4.jpg');
}

.slide1:checked ~ .images {
  background: url('../images/rippedjeans1.jpg');
  background-size: cover;
}

.slide2:checked ~ .images {
  background: url('../images/rippedjeans2.jpg');
  background-size: cover;
}

.slide3:checked ~ .images {
  background: url('../images/rippedjeans3.jpg');
  background-size: cover;
}

.slide4:checked ~ .images {
  background: url('../images/rippedjeans4.jpg');
  background-size: cover;
}

/*Product Popup*/

.product-info p:nth-child(1) {
  margin-top: 10px;
  font-size: 21px;
}

.product-info p:nth-child(3) {
  margin-top: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-info p:nth-child(5) {
  margin-top: 35px;
  text-transform: uppercase;
}

.product-info .buttons {
  margin-top: 35px;
  margin-left: -40px;
}

.product-info .buttons li{
  float: left;
  list-style-type: none;
  padding: 10px 25px 10px 25px;
}

.product-info .buttons li a {
  color: #fff;
}

.product-info .buttons li:first-child {
  background-color: rgb(146, 146, 146);
  margin-right: 20px; 
}

.product-info .buttons li:last-child {
  background-color: rgb(70, 210, 170);
}

.product-info .product-desc {
  margin-top: 90px;
  margin-left: -25px;

/*Article*/



/*==========  Media Queries  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
